
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xml:lang="en">
<head>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width"></meta>
  <title>Human Random Sequence Experiment</title>
  <link rel="stylesheet" href="/stylesheets/app.css"></link>
  <script src="/js/foundation/js/vendor/modernizr.js"></script>
</head>

<body class="index">
  <div class="row">
        <div class="small-6 medium-6 large-6 columns" style="background-color:black; color:white; padding-right:1em; padding-top:1em; padding-bottom:1em; border-color:black; border-bottom-style:solid; border-top-style:solid; border-width:2">
          <div class="t1" style="float:right">Human Random</div>
        </div>

        <div class="small-6 medium-6 large-6 columns" style="background-color:white; color:black; padding-left:1em; padding-top:1em; padding-bottom:1em; border-color:black; border-bottom-style:solid; border-top-style:solid; border-width:2">
          <div class="t1" style="float:left">Sequence Experiment</div>
        </div>

      <hr />
  </div>

  <div class="row">
      <div style="padding-left: 5px">
          <div class="t3">
              The Human Random Sequence Experiment is part of an exploration of the psychological
              and ethical issues we are confronted by due to our increasing dependence on
              technology.  In particular, I'm interested in the effects of the pervasive
              integration of pattern recognition algorithms into our civilization.
          </div>
          <div class="t3">
              We are usually unconscious of the presence of pattern recognition technology because it
              has been so subtly introduced into our daily lives.  It is especially easy to ignore
              since it essentially mimics the way that humans think.
          </div>
          <div class="t3">
              With the increasing application of pattern recognition algorithms to our behavior,
              such as we are seeing with companies like Google, Amazon, Target, Walmart, credit
              card companies, auto manufacturers, and of course our own government, questions
              of predictability and free will come into play.
          </div>
          <div class="t3">
              The more behavioral information that is consolidated about you, the more accurate
              we can make predictions about your behavior.  What does it mean to be spontaneous?  Can a
              human really even be spontaneous?
          </div>
      </div>
      <div style="padding-left: 5px">
          <div class="t2" style="background-color:black; color:white; padding-right:1em; padding-left:1em; padding-top:0em; padding-bottom:0em; border-color:white; border-bottom-style:solid; border-top-style:solid; border-width:1">
            <p>
              Let's strip ourselves down to simplest terms: Let's just type 0s and 1s.  OK, we
              can't actually be random, but what if we sequenced between people, where each person's nth
              input is added to the sequence in the nth round of selection?  How many people does
              it take to create mathematical randomness?  By crowdsourcing human attempts at random input,
              I'd like to show that it is through our interactions with others - society itself - that
              we generate the chaos of nature that is life itself.
            </p>
          </div>
      </div>

      <div style="padding-right: 5px">
          <div class="t2" style="background-color:black; color:white; padding-right:1em; padding-left:1em; padding-top:0em; padding-bottom:0em; border-color:white; border-bottom-style:solid; border-top-style:solid; border-width:1">
            <p> 
              A corporation may go to any length to get better intelligence about
              its customers.  Here we have the most evasive input we can offer: an actual
              attempt to not provide something useful.  How do we fare against the power of
              machine-driven pattern recognition?
            </p>
          </div>
      </div>

      <div style="padding-left: 5px">
          <div class="t2" style="background-color:black; color:white; padding-right:1em; padding-left:1em; padding-top:0em; padding-bottom:0em; border-color:white; border-bottom-style:solid; border-top-style:solid; border-width:1">
            <p>
              The work itself requires participation by an audience.  it becomes better more
              interesting as more people interact with it.  it requires society.
            </p> 
          </div>
      </div>

      <div style="padding-right: 5px">
          <div class="t2" style="background-color:black; color:white; padding-right:1em; padding-left:1em; padding-top:0em; padding-bottom:0em; border-color:white; border-bottom-style:solid; border-top-style:solid; border-width:1">
            <p>
              The very act of attempting to be spontaneous or random, repeated over and over,
              person after person, as a sort of allegory for humans attempting to break out of the
              imprisonments of behavioral analysis by machines.  
            </p>
          </div>
      </div>

      <div style="padding-left: 5px">
          <div class="t2" style="background-color:black; color:white; padding-right:1em; padding-left:1em; padding-top:0em; padding-bottom:0em; border-color:white; border-bottom-style:solid; border-top-style:solid; border-width:1">
            <p>
              What kind if thing comes out of you when you attempt to be random?  Is there any
              part of you there?  If you try to break out of your own behavior, what are you?
              This exploration recalls that of the Dada, with their search for a paucity of
              meaning, and even further John Cage with his search for an absence of self.
            </p>
          </div>
      </div>

      <div style="padding-right: 5px">
          <div class="t2" style="background-color:black; color:white; padding-right:1em; padding-left:1em; padding-top:0em; padding-bottom:0em; border-color:white; border-bottom-style:solid; border-top-style:solid; border-width:1">
            <p>
              Can we find that there is meaning in everything?  Can there be a patternless
              space if our pattern recognition machines are trained sufficiently?  Wouldn't
              the very creation of such a space (a patternless space) - or attempt to create
              it - immediately assign it meaning?
            </p>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="twelve columns" style="background-color:black; color:white; padding-top:15px; padding-bottom:15px">
          <center>
            <img alt="" id="newseqimg" onmousedown="clicknewsequence()" onmouseup="location.assign('http://randomhuman.org')" onclick="location.assign('http://randomhuman.org')"
                 src="/img/newsequence-126x33.png"
                 style="margin-left:5px; margin-right:5px; margin-top:2px; margin-bottom:2px"></img>
            <img alt="" id="yourinfoimg" onmousedown="clickyourinfo()" onmouseup="yourinfo()" onclick="yourinfo()"
                 src="/img/yourinfo-126x33.png"
                 style="margin-left:5px; margin-right:5px; margin-top:2px; margin-bottom:2px"></img>
            <img alt="" id="yourrelimg" onmousedown="clickyourrelatives()" onmouseup="yourrelatives()" onclick="yourrelatives()"
                 src="/img/yourrelatives-126x33.png"
                 style="margin-left:5px; margin-right:5px; margin-top:2px; margin-bottom:2px"></img>
            <img alt="" id="yourresultsimg" onmousedown="clickyourresults()" onmouseup="yourresults()" onclick="yourresults()"
                 src="/img/yourresults-126x33.png"
                 style="margin-left:5px; margin-right:5px; margin-top:2px; margin-bottom:2px"></img>
            <img alt="" id="overallstatsimg" onmousedown="clickoverallstats()" onmouseup="overallstats()" onclick="overallstats()"
                 src="/img/overallstats-126x33.png"
                 style="margin-left:5px; margin-right:5px; margin-top:2px; margin-bottom:2px"></img>
          </center>
    </div>
  </div>

  <script src="/js/foundation/js/vendor/jquery.js"></script>
  <script src="/js/foundation/js/vendor/fastclick.js"></script>
  <script src="/js/foundation/js/foundation.min.js"></script>
  <script src="/js/fingerprint/fingerprint.js"></script>
  <script src="/jc/hrse.js"></script>

  <script type="text/javascript">
    $(document).foundation();
    fingerprint = new Fingerprint({canvas: true}).get();
  </script>

</body>
</html>




