
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width"></meta>
  <title>Human Random Sequence Experiment</title>
  <link rel="stylesheet" href="/stylesheets/app.css"></link>
  <script src="/js/foundation/js/vendor/modernizr.js"></script>
</head>

<body class="index" onkeypress="keystroke(event)">
  <div class="row">
        <div class="small-6 medium-6 large-6 columns" style="background-color:black; color:white; padding-right:1em; padding-top:1em; padding-bottom:1em; border-color:black; border-bottom-style:solid; border-top-style:solid; border-width:2">
          <div class="t1" style="float:right">Human Random</div>
        </div>

        <div class="small-6 medium-6 large-6 columns" style="background-color:white; color:black; padding-left:1em; padding-top:1em; padding-bottom:1em; border-color:black; border-bottom-style:solid; border-top-style:solid; border-width:2">
          <div class="t1" style="float:left">Sequence Experiment</div>
        </div>

      <hr />

      <div style="padding-left: 5px">
        <div class="t2">
          <p>Welcome, participant <a id='pid'></a>, admitted on <a id='adate'></a> UTC.</p>
        <hr />

          <p>Thank you for participating in the HRSE!</p>

          <p>
            <strong>To submit a new sequence:</strong>
            <ol>
            <li><span id='clicktap'></span> as many times as you please.</li>
            <li>When you are done, click the "Done" button to submit your sequence for analysis.</li>
            </ol>
            Attempt to be as <b>random</b> as possible.  The <b>longer</b> your sequence, the more <b>interesting</b> your result will be.
          </p>
        </div>
      </div>
  </div>

  <div class="row">
    <center>
        <noscript><h1>This site requires Javascript to be enabled in order to function.</h1></noscript>
    </center>

    <p class="t2" id="sequence"></p>
    <div class="small-6 medium-6 large-6 columns"
         style="background-color:black; color:white; padding-right:2em; padding-top:1em;
         padding-bottom:1em; border-color:black; border-bottom-style:solid;
         border-top-style:solid; border-width:2">
      <img alt="" id="updatezero" onmousedown="clickzero()" onmouseup="clickzero()" onclick="addzero()"
           style="float:right" data-interchange="[/img/0-white-small.png, (default)],
                             [/img/0-white-small.png, (small)],
                             [/img/0-white-med.png, (medium)],
                             [/img/0-white-huge.png, (large)]"></img>
    </div>
    <div class="small-6 medium-6 large-6 columns"
         style="background-color:white; color:black; padding-left:2em; padding-top:1em;
         padding-bottom:1em; border-color:black; border-bottom-style:solid;
         border-top-style:solid; border-width:2">
      <img alt="" id="updateone" onmousedown="clickone()" onmouseup="clickone()" onclick="addone()"
           data-interchange="[/img/1-black-small.png, (default)],
                             [/img/1-black-small.png, (small)], 
                             [/img/1-black-med.png, (medium)], 
                             [/img/1-black-huge.png, (large)]"></img>
    </div>
  </div>

  <div class="row" style="padding-top:10px; padding-bottom:10px">
    <div class="twelve columns">
      <center><img alt="" id="doneimg" onmousedown="clickdone()" onmouseup="done()" onclick="done()"
           data-interchange="[/img/done-grey-167x69.png, (default)],
                             [/img/done-100x42.png, (small)], 
                             [/img/done-140x58.png, (medium)], 
                             [/img/done-grey-167x69.png, (large)]"></img>
      </center>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns" style="background-color:black; color:white; padding-top:15px; padding-bottom:15px">
          <center>
            <img alt="" id="overallstats" style="margin-left:5px; margin-right:5px; margin-top:2px; margin-bottom:2px" src="/img/overallstats-126x33.png"></img>
            <img alt="" id="about" style="margin-left:5px; margin-right:5px; margin-top:2px; margin-bottom:2px" src="/img/about-126x33.png"></img>
          </center>
    </div>
  </div>


  <script src="/js/foundation/js/vendor/jquery.js"></script>
  <script src="/js/foundation/js/vendor/fastclick.js"></script>
  <script src="/js/foundation/js/foundation.min.js"></script>
  <script src="/js/fingerprint/fingerprint.js"></script>
  <script src="/jc/hrse.js"></script>
  <script>
    $(document).foundation();
  </script>

  <script type="text/javascript">
    seqstring = "";
    fingerprint = new Fingerprint({canvas: true}).get();

    stepone();
    getpid();
  </script>

</body>
</html>




